form(action="/todos/search", method = "GET")
    input(type = "text", name = "q", value = query)
    button Search
ul Danh sách các việc sẽ làm
  each todo in todos
     li
            span= todo.text
            span &nbsp
            a(href="/todos/" + todo.id + "/delete") Delete
a(href = "/todos/create") Create Todo